#container{
  display: flex;
  justify-content: center;
  
  align-items: center;
}
#infotable{
  display: grid;
}
.contact{
  margin-top: 20vh;
}

.info{
  text-align: center;
}
.icon{
    widows: 120px;
    height: 120px;
}
#relleno{
background-color: grey;
height:5vh;
margin-top: 3vh;
margin-bottom: 3vh;
}
body{
  font-family: 'Raleway';
background-color: rgba(145, 139, 139, 0.39);
 padding-left: 2%;
 padding-right: 2%;
}

.boton{
    width:220px;
    height:220px;
    background-color:#24a7b1;
    margin: 2vw;
    padding:10px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 120px;
    border-radius: 120px;
    font-size:10px;
    line-height:20px;
    text-transform: uppercase;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .boton:hover{
    opacity: 0.50;
    -moz-opacity: .50;
    filter:alpha (opacity=50);
  }
  .boton a{
    color:#fff;
    text-decoration:none;
    padding:5px 5px 5px 0;
  }

.baner{
    background-position: 10%;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 27vh;
    background-image: url("Footbal_Ball_Lawn_542686_3840x2400-1920x1200.jpg");
    
}

.body_boton {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}
iframe{
  width: 40vw;
  height: 40vw;
}

.botonHome{
  display: none;
}

@media (max-width: 600px) {
  .boton{

    width:130px;
    height:130px;
    background-color:#24a7b1;
    margin: 2.5vw;
    padding:10px;
    -webkit-border-radius:30px;
    border-radius: 80px;
    font-size:10px;
    line-height:20px;
   
  }
  .icon{
  height: 100px;
  }
  iframe{
    width: 90vw;
    height: 90vw;

  }
  #titulo_principal{
  font-size: 6vw;
  text-align: center;
  }
}

.locationText{
  text-align: center;
margin-bottom: 7vh;
}

#titulo_principal{
  text-align: center;
 color: rgb(187, 182, 182);
}

.none{
  display: none;
  }

  th{
   background-color: rgba(179, 182, 184, 0.637);
  }

  tr{
    padding-bottom: 80px;
  }